<li class="layerItem {{#visible}}on{{/visible}}" data-layerid='{{id}}'>
    <!-- <input id="layer{{id}}" data-layerid="{{id}}" type="checkbox"> -->
    <span class="marker" {{#color}}style="background-color: {{color}}; border-color: {{color}}"{{/color}}></span>
    <label id="maplayer{{id}}">
        {{name}}
        {{#scientificname}}<em>({{scientificname}})</em>{{/scientificname}}
    </label>
    <span class='layer-clear'></span>
    <span class='layer-opacity'>
        <span class='ico-opacity'></span>
        <div class='o-make-visible'>
            <div class='o-slider-wrapper'>
                <input class="layer-opacity-range" type="range" min="0" max="100" value="100">
            </div>
        </div>
    </span>
</li>
