<!-- <div class="map-layers">
    <div class="map-header">
        <input id="all-{{icon}}" type="checkbox" checked>
        <label for="all-{{icon}}"><span class="check"></span>{{category}} {{#title}}<span class="subtitle">({{title}})</span>{{/title}}</label>
    </div>
    <ul class="content"></ul>
</div> -->
<div class="map-layer-group {{icon}}-container">
    <div class="group-header">
        <span class="map-icon {{icon}}"></span>
        <span class="layer-toggle"></span>
        <h5 title="{{category}} {{#title}}({{title}}){{/title}}">{{category}} {{#title}}<span class="subtitle">({{title}})</span>{{/title}}</h5>
    </div>
    <ul></ul>
</div>
