<div id="content" class="viewport-frame open">

  <div class="viewport-resize">
    <div class="resize-handle">
      <div class="push-offpage"></div>
    </div><!-- resize-handle -->
  </div><!-- viewport-resize -->

  <div class="content">
    <section id="about" class="content-standard ">
      <span class="skip-intro close page"><lang>Cerrar intro</lang></span>
      <h2 class="site-title"><lang>Libro Rojo de los ecosistemas forestales de Marruecos</lang></h2>
      <p class="intro"><lang>La lista roja de ecosistemas de la UICN es una nueva metodología que forma parte de los productos globales del conocimiento de UICN. Por primera vez en el Mediterráneo ha sido aplicada de forma sistemática en los ecosistemas forestales del norte de Marruecos gracias al apoyo del Alto Comisariado de Aguas y Bosques y Lucha contra la Desertificación. Esperamos que los resultados de este estudio pionero permitan replicar la experiencia en otros países y ecosistemas de la cuenca mediterránea.</lang></p>
      <p class="intro"><lang>Desde este portal podrá acceder a la cartografía a través del visor y al documento en pdf del "Libro rojo de los ecosistemas de Marruecos" y sus diferentes fichas descriptivas.</lang></p>

      <h3>Creditos</h3>
      <ul class="credit-logos">
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_uicn.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_ctransfronteriza.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_fedr.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_transhabitat.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_aecid.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_minagricoltura.png" alt=""></a></li>
      </ul>

    </section>
    <section id="help" class="content-standard content-white-bg hide">
        <span class="close-help close page"><img src="/img/uicn_lr_ico_close.svg" alt="<lang>Cerrar</lang>"></span>
        <div class="inner">
            <h1><lang>Ayuda: Como usar esta aplicación</lang></h1>
            <p class="help-block"><lang>Todo lo que necesitas para empezar a usar esta aplicación</lang></p>
            <h2><strong>1.</strong><lang>Añadir una capa</lang></h2>
            <p><lang>Selecciona</lang> <span class="ill-addLayer"><lang>Añadir capa</lang></span> <lang>para añadir las capas quieras ver en el mapa</lang></p>
            <h2><strong>2.</strong><lang>Selecciona categorías</lang></h2>
            <p><lang>Puedes elejir entre cinco categorías principales</lang>:</p>
            <ul class="icon-legend">
                <li class="forestales"><span class="map-icon forestales"></span><lang>Unidades Forestales</lang></li>
                <li class="climatica"><span class="map-icon climatica"></span><lang>Regionalización Climática</lang></li>
                <li class="tendencia"><span class="map-icon tendencia"></span><lang>Estado/Tendencia</lang></li>
                <li class="historico"><span class="map-icon historico"></span><lang>Mapas Históricos</lang></li>
                <li class="protegidos"><span class="map-icon protegidos"></span><lang>Espacios Protegidos</lang></li>
            </ul>
            <h2><strong>3.</strong><lang>Selecciona capas</lang></h2>
            <p><lang>Navega a través de las diferentes categorías usando las pestañas correspondientes y selecciona las capas que quieras ver en el mapa</lang></p>
            <div class="info-wrap">
                <figure>
                    <img src="/img/helpfiles/uicn_lr_ill_chooselayer_<lang>lang</lang>.png" alt="Choose a layer">
                </figure>
                <div class="tip"><em><lang>Consejo</lang>:</em><lang>Marca o desmarca el título de la categoría para seleccionar o deseleccionar</lang><strong><lang>todas sus capas</lang></strong>
                </div>
            </div>
            <p><lang>haz clic en</lang> <img class="img-ill" src="/img/helpfiles/uicn_lr_ill_btnok_<lang>lang</lang>.png" alt="<lang>botón Hecho</lang>"> <lang>cuando termines</lang>.</p>
            <h2><strong>4.</strong><lang>Interacciona con el mapa</lang></h2>
            <ul class="IxIcons">
                <li><span class="help-icon cat-visibility"></span><lang>Mostrar/Ocultar las capas pertenecientes a esa categoría</lang></li>
                <li><span class="help-icon layer-visibility"></span><lang>Mostrar ocultar una capa determinada</lang></li>
                <li><span class="help-icon opacity-adjust"></span><lang>Ajustar la opacidad de una capa determinada</lang></li>
                <li><span class="help-icon layer-remove"></span><lang>Eliminar la capa del mapa y la leyenda</lang></li>
            </ul>
        </div>
        <!-- .inner -->
    </section>
    <section id="legal" class="content-standard hide">
        <span class="close-legal close page"><img src="/img/uicn_lr_ico_close.svg" alt="<lang>Cerrar</lang>"></span>
        <div id="privacy-sec">
            <h2 class="site-title">
                <lang>Privacidad</lang>
            </h2>
            <h3><lang>POLÍTICA DE PRIVACIDAD</lang></h3>
            <p><lang>UICN se ha comprometido a garantizar que la privacidad de los datos: no recopilaremos información personal acerca de usted cuando visite nuestro sitio Web, a menos que elija brindarnos esa información. Excepto que la ley lo disponga, no compartimos la información que recibimos con terceros.</lang></p>
            <p><lang>La política de privacidad describe la información que obtenemos a través del portal web y la manera en que la utilizamos.</lang></p>
            <h3><lang>VÍNCULOS A OTROS SITIOS</lang></h3>
            <p><lang>Este sitio Web ofrece vínculos a otros sitios Web relacionados con GIS. Una vez que establece un vínculo a otro sitio, el usuario está sujeto a la política de privacidad del nuevo sitio. Este sitio Web no se responsabiliza por las prácticas de información de esos sitios y estos vínculos no implican una afiliación o una aprobación de los sitios enlazados. Este sitio Web no controla y no garantiza la relevancia, puntualidad o precisión de los materiales externos.</lang></p>
            <h3><lang>USO DE COOKIES</lang></h3>
            <p><lang>Este sitio web utiliza Cookies propias para recopilar información con la finalidad de mejorar nuestros servicios, así como el análisis de sus hábitos de navegación. Si continua navegando, supone la aceptación de la instalación de las mismas. El usuario tiene la posibilidad de configurar su navegador pudiendo, si así lo desea, impedir que sean instaladas en su disco duro, aunque deberá tener en cuenta que dicha acción podrá ocasionar dificultades de navegación de página web. Asimismo, se informa al usuario de que tiene la posibilidad de configurar su navegador de modo que se le informe de la recepción de cookies, pudiendo, si así lo desea, impedir que sean instaladas en su disco duro.</lang></p>
            <h3><lang>ADMINISTRADOR</lang></h3>
            <p><lang>Es el Centro de Cooperación del Mediterráneo de la Unión Internacional para la Conservación de la Naturaleza (UICN-Med)</lang></p>
            <h3><lang>CLÁUSULA DE PROTECCIÓN</lang></h3>
            <p><lang>La información que se presenta en este sitio Web se considera pública, pero caso de ser utilizada se requiere la mención a la fuente a pie de foto/imagen.</lang></p>
            <p><lang>Recomendamos firmemente que los datos de este portal web se adquieran directamente de un servidor de fuente confiable y no a través de otras fuentes que puedan cambiar los datos de alguna manera. A pesar de que en este portal web se haga todo lo posible por brindar información completa y precisa, varios datos, como nombres, números de teléfono, etc., pueden cambiar antes de la actualización. El administrador de este portal web agradece cualquier sugerencia sobre cómo mejorar nuestra página de inicio y corregir errores.</lang></p>
            <p><lang>Algunos de los documentos de este servidor pueden contener referencias en directo (o punteros) a información creada y mantenida por otras organizaciones. Tenga en cuenta que este portal web no controla ni puede garantizar la relevancia, puntualidad o precisión de estos materiales externos.</lang></p>
        </div>
        <div id="legal-sec">
            <h2 class="site-title">
                <lang>Legal</lang>
            </h2>
            <h3><lang>AVISO LEGAL DE FOTOGRAFÍAS E ILUSTRACIONES</lang></h3>
            <p><lang>Todas las fotografías e ilustraciones utilizadas en este portal web son propiedad de los autores (ver leyendas individuales para más detalles). Las fotografías e ilustraciones no deberán utilizarse o reproducirse en ningún otro contexto sin el previo permiso de los mismos. Se autoriza la reproducción de la información con fines educativos y otros fines no comerciales sin permiso escrito previo de parte de quien detenta los derechos de autor con tal de que se mencione la fuente.</lang></p>
            <p><lang>Se prohíbe reproducir esta información para venderla o para otros fines comerciales sin permiso escrito previo de quien detenta los derechos de autor.</lang></p>
            <p><lang>La UICN se reserva el derecho de publicar exclusivamente en el contexto de este sitio web las fotografías aportadas por los colaboradores y usuarios del geoportal. Cualquier otro uso de material gráfico aportado por los colaboradores fuera del mencionado contexto debe ser acordado con los propios autores.</lang></p>
            <h3><lang>AVISO LEGAL SOBRE LOS MAPAS</lang></h3>
            <p><lang>La información sobre la delimitación de las cartografías se proporciona de acuerdo con la información disponible a nivel nacional e internacional y la documentación de bases de datos existentes.</lang></p>
            <h3><lang>AVISO LEGAL SOBRE LAS FRONTERAS Y LAS FRONTERAS NACIONALES</lang></h3>
            <p><lang>La designación de entidades geográficas que aparecen en este visor no implica la expresión de, ni representan, cualquier opinión por parte de Centro de Cooperación del Mediterráneo de UICN, o de sus socios respecto al estado legal de cualquier país, territorio o área, ni respecto a la delimitación de sus fronteras o límites.</lang></p>
        </div>
        <div id="contact-sec">
            <h2 class="site-title">
                <lang>Contacto</lang>
            </h2>
            <h3><lang>Marcos Valderrábano</lang></h3>
            <a href="mailto:marcos.valderrabano@iucn.org">marcos.valderrabano@iucn.org</a>
            <h3><lang>Lourdes Lázaro</lang></h3>
            <a href="mailto:lourdes.lazaro@iucn.org">lourdes.lazaro@iucn.org</a>
            <h3>UICN-Med</h3>
            <p>Centro de Cooperación Mediterránea de la Unión Internacional para la Conservación de la Naturaleza</p>
            <p>C/ Marie Curie 22, PTA,<br>
            29590 Campanillas, Málaga<br>
            España</p>
            <p>Tel. +34 952 028 430</p>
            <p><a href="http://iucn.org" target="_blank">http://iucn.org</a></p>
            <p><a href="http://www.iucn.org/mediterranean" target="_blank">http://www.iucn.org/mediterranean</a></p>
        </div>
    </section>
    <section id="pdf-viewer">
      <object data="/data/pdf/lref_marruecos.pdf" type="application/pdf" width="100%" height="100%">
        <p>Download the Libro Rojo de los ecosistemas forestales, <a href="/data/pdf/lref_marruecos.pdf">the PDF book</a></p>
      </object>
    </section>
  </div><!-- .content -->
</div><!-- #content resizable -->
