<div id="content" class="viewport-frame open">

  <div class="viewport-resize">
    <div class="resize-handle">
      <div class="push-offpage"></div>
    </div><!-- resize-handle -->
  </div><!-- viewport-resize -->

  <div class="content">
    <section id="about" class="content-standard ">
      <span class="skip-intro close page">Skip Intro</span>
      <h2 class="site-title">Libro Rojo de los ecosistemas forestales de Marruecos</h2>
      <p class="intro">La lista roja de ecosistemas de la UICN es una nueva metodología que forma parte de los productos globales del conocimiento de UICN. Por primera vez en el Mediterráneo ha sido aplicada de forma sistemática en los ecosistemas forestales del norte de Marruecos gracias al apoyo del HCEFLCD. Esperamos que los resultados de este estudio pionero permitan replicar la experiencia en otros países y ecosistemas de la cuenca mediterránea.</p>

      <h3>Creditos</h3>
      <ul class="credit-logos">
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_uicn.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_ctransfronteriza.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_fedr.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_transhabitat.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_aecid.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_minagricoltura.png" alt=""></a></li>
      </ul>

    </section>
    <section id="pdf-viewer">
      <object data="/data/pdf/lref_marruecos.pdf" type="application/pdf" width="100%" height="100%">
        <p>Download the Libro Rojo de los ecosistemas forestales, <a href="/data/pdf/lref_marruecos.pdf">the PDF book</a></p>
      </object>
    </section>
  </div><!-- .content -->
</div><!-- #content resizable -->
