<div id="content" class="viewport-frame open">

  <div class="viewport-resize">
    <div class="resize-handle">
      <div class="push-offpage"></div>
    </div><!-- resize-handle -->
  </div><!-- viewport-resize -->

  <div class="content">
    <section id="about" class="content-standard ">
      <span class="skip-intro close page"><lang>Cerrar intro</lang></span>
      <h2 class="site-title"><lang>Libro Rojo de los ecosistemas forestales de Marruecos</lang></h2>
      <p class="intro"><lang>La lista roja de ecosistemas de la UICN es una nueva metodología que forma parte de los productos globales del conocimiento de UICN. Por primera vez en el Mediterráneo ha sido aplicada de forma sistemática en los ecosistemas forestales del norte de Marruecos gracias al apoyo del Alto Comisariado de Aguas y Bosques y Lucha contra la Desertificación. Esperamos que los resultados de este estudio pionero permitan replicar la experiencia en otros países y ecosistemas de la cuenca mediterránea.</lang></p>
      <p class="intro"><lang>Desde este portal podrá acceder a la cartografía a través del visor y al documento en pdf del "Libro rojo de los ecosistemas de Marruecos" y sus diferentes fichas descriptivas.</lang></p>

      <h3>Creditos</h3>
      <ul class="credit-logos">
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_uicn.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_ctransfronteriza.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_fedr.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_transhabitat.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_aecid.png" alt=""></a></li>
        <li><a href="#"><img src="/img/credits/uicn_logo_credits_minagricoltura.png" alt=""></a></li>
      </ul>

    </section>
    <section id="help" class="content-standard hide">
        <span class="close-help close page"><lang>Cerrar</lang></span>
        <h2 class="site-title">
            <lang>Help: How to use this app</lang>
            <span><lang>All you need to get started using this app</lang></span>
        </h2>
        <div class="intro">
            <ol>
                <li>
                    <h3><lang>Add a layer</lang></h3>
                    <p><lang>Choose <span class="hightlight">Add Layer</span> to add the layers you want to see on the map</lang></p>
                </li>
                <li>
                    <h3><lang>Select maps</lang></h3>
                    <p><lang>You can choose between four main categories<lang><p>
                    <ul>
                        <li><img src="/img/categories/1_<lang>lang</lang>.png" alt="<lang>Forest units</lang>"></li>
                        <li><img src="/img/categories/2_<lang>lang</lang>.png" alt="<lang>Climate</lang>"></li>
                    </ul>
                </li>
            </ol>
        </div>
    </section>
    <section id="pdf-viewer">
      <object data="/data/pdf/lref_marruecos.pdf" type="application/pdf" width="100%" height="100%">
        <p>Download the Libro Rojo de los ecosistemas forestales, <a href="/data/pdf/lref_marruecos.pdf">the PDF book</a></p>
      </object>
    </section>
  </div><!-- .content -->
</div><!-- #content resizable -->
