<header></header>

<main>

    <div class="info-panel">
        <!-- <div id="filters_panel" class="filters-container show"> -->
        <div class="filters-container show">
            <div id="filter_header"></div>
            <div id="filter_content"></div>
        </div><!-- #filters_panel -->

        <div id="charts_panel" class="data-container"></div><!-- #charts_panel data-container -->
    </div><!-- info-panel -->

    <div class="animation-panel header" id="timebar_panel"></div><!-- #timebar_panel -->
    <div id='data_panel' class="info-details" ></div>

   <!--
   <div id="ui-zoom-controls">
        <div class="btn zoom-in">Zoom In</div>
        <div class="btn zoom-out">Zoom Out</div>
    </div> ui-zoom-controls -->
</main>
