<div id="legend-panel" class="open">
	<header>
		<h4 class="legend-expand"> <span class="fa fa-list-ul"></span><lang>Leyenda</lang></h4>

		<span class="addLayer"><lang>Añadir capa</lang></span>
	</header>

	<div class="panel-body">
		<div class="inner">
			<div class="map-layer-group forestales-container">
				<div class="group-header">
					<span class="map-icon forestales"></span>
					<span class="layer-toggle"></span>
					<h5><lang>Unidades forestales</lang></h5>
				</div>
				<ul>
					<li id="Ap-"class="on"><span class="marker"></span>
						<span class="label"><lang>Arganales</lang></span>

						<!-- HTML FOR layer functionalities added with Javascript for testing
						==

						<span class="layer-clear"></span>
						<span class="layer-opacity"><span class="ico-opacity"></span>
							<div class="o-make-visible">
								<div class="o-slider-wrapper">
									<div class="o-slider-bar">
										<div class="o-slider-handle"></div>
									</div><  0-slider-bar >
									<div class="o-slider-tip"></div>
								</div>
							</div>

						</span> < layer-opacity >

						 ==
						 ENDs Layers functionalities-->

					</li>
					<li id="A-" class="on"><span class="marker"></span><span class="label">Juniperus en mezcla</span></li>
					<li id="As-" class="on"><span class="marker"></span><span class="label">Pinus en mezcla</span></li>
				</ul>
			</div><!-- map-layer-group -->
			<div class="map-layer-group climatica-container">
				<div class="group-header">
					<span class="map-icon climatica"></span>
					<span class="layer-toggle"></span>
					<h5>Regionalización climática <span class="subtitle">(nivel superior)</span></h5>
				</div>
				<ul>
					<li id="Ca-" class="on"><span class="marker"></span><span class="label">Ecozona Mediteráneo-Oceánica</span></li>
					<li class="on"><span class="marker"></span><span class="label">Ecozona Mediterránea</span></li>
					<li class="on"><span class="marker"></span><span class="label">Ecozona Sahariana</span></li>
				</ul>
			</div><!-- map-layer-group climatica-container-->

			<div class="map-layer-group climatica-container disabled">
				<div class="group-header">
					<span class="map-icon climatica"></span>
					<span class="layer-toggle"></span>
					<h5>Regionalización climática <span class="subtitle">(nivel inferior)</span></h5>
				</div>
				<ul>
					<li><span class="marker"></span><span class="label">D05</span></li>
					<li><span class="marker"></span><span class="label">D01</span></li>
				</ul>
			</div><!-- map-layer-group climatica-container-->

			<div class="map-layer-group tendencia-container">
				<div class="group-header">
					<span class="map-icon tendencia"></span>
					<span class="layer-toggle"></span>
					<h5>Estado/Tendencia</h5>
				</div>
				<ul>
					<li class="on"><span class="marker"></span><span class="label">Rendimiento basal</span></li>
					<li class="on"><span class="marker"></span><span class="label">Rendimiento de referencia</span></li>
					<li class="on"><span class="marker"></span><span class="label">Aumentandose</span></li>
				</ul>
			</div><!-- map-layer-group tendencias-->

			<div class="map-layer-group historico-container">
				<div class="group-header">
					<span class="map-icon historico"></span>
					<span class="layer-toggle"></span>
					<h5>Mapas Históricos</h5>
				</div>
				<ul>
					<li class="on"><span class="marker"></span><span class="label">Rendimiento basal</span></li>
					<li class="on"><span class="marker"></span><span class="label">Rendimiento de referencia</span></li>
					<li class="on"><span class="marker"></span><span class="label">Aumentandose</span></li>
				</ul>
			</div><!-- map-layer-group tendencias-->

			<div class="map-layer-group protegidos-container">
				<div class="group-header">
					<span class="map-icon protegidos"></span>
					<span class="layer-toggle"></span>
					<h5>Espacios Protegidos</h5>
				</div>
				<ul>
					<li class="on"><span class="marker"></span><span class="label">Réserve à Outarde</span> </li>
					<li class="on"><span class="marker"></span><span class="label">Chekhar</span></li>
					<li class="on"><span class="marker"></span><span class="label">Aumentandose</span></li>
				</ul>
			</div><!-- map-layer-group tendencias-->
		</div><!-- inner -->
	</div><!-- panel-body -->
</div><!-- legend-panel -->
<div id="addLayerPanel"></div>
